.box01 {
  width: 200px;
  height: 200px;
  background-color: red;
  /*margin-top: 100px;*/
  /*position: relative
  left: 100px;
  top: 100px;*/
  margin: 0 auto;
}

.box02 {
  width: 200px;
  height: 200px;
  background-color: dodgerblue;
}

.container {
  width: 600px;
  height: 600px;
  background-color: hotpink;
  position: relative;
}

.container > div {
  width: 200px;
  height: 200px;
}

.container .list01 {
  background-color: green;
  position: sticky;
  /*x축 1개
  y축 1개*/
  top: 0px;
  left: 0px;
  z-index: 10; /*position이 있어야만 적용가능 !!*/
}

.container .list02 {
  background-color: orange;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
}

.container .list03 {
  background-color: cadetblue;
  position: absolute;
  left: 0;
  bottom: 0;
}

.container .list04 {
  background-color: aquamarine;
  position: absolute;
  right: 0;
  bottom: 0;
}

.container .list05 {
  background-color: cornflowerblue;
  position: absolute;
  left: 50%;
  top: 50%;
  /*transform: translateX(-50%) translateY(-50%);*/
  /*transform: translate(-50%, -50%);*/
  translate: -50% -50%;
  /*margin-left: -100px;
  margin-top: -100px;*/
}

.box03 {
  width: 200px;
  height: 100vh;
  background-color: yellow;
  position: fixed;
  right: 0;
  bottom: 0;
  transition: all 1s;
  transform: translateX(100%);
}
